<div class="calculator">
  
  <input type="text" class="calculator-screen" [value]="keyPressed" disabled />
  
  <div class="calculator-keys">
    <button type="button" value="7" (click)="keyPress($event)">7</button>
    
    <button type="button" value="8" (click)="keyPress($event)" >8</button>
    <button type="button" value="9" (click)="keyPress($event)">9</button>
    <button type="button" class="operator" value="+" (click)="keyPress($event)">+</button>


    <button type="button" value="4" (click)="keyPress($event)">4</button>
    <button type="button" value="5" (click)="keyPress($event)">5</button>
    <button type="button" value="6" (click)="keyPress($event)">6</button>
    <button type="button" class="operator" value="-" (click)="keyPress($event)">-</button>


    <button type="button" value="1" (click)="keyPress($event)">1</button>
    <button type="button" value="2" (click)="keyPress($event)">2</button>
    <button type="button" value="3" (click)="keyPress($event)">3</button>
    <button type="button" class="operator" value="*" (click)="keyPress($event)">&times;</button>


    <button type="button" value="0" (click)="keyPress($event)">0</button>
    <button type="button" class="decimal" value="." (click)="keyPress($event)">.</button>
    <button type="button" class="all-clear" value="all-clear" (click)="keyPress($event)">AC</button>
    <button type="button" class="operator" value="/" (click)="keyPress($event)">&divide;</button>
    <button type="button" class="equal-sign" value="=" (click)="keyPress($event)">=</button>

  </div>
</div>
<router-outlet></router-outlet>